class AddOpaqueIdTo<%= table_name.camelize %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    add_column :<%= table_name %>, :<%= options[:column_name] %>, :string
    add_index :<%= table_name %>, :<%= options[:column_name] %>, unique: true
  end
end
